.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none;
    transition: background 0.2s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    padding-left: 20%;
    font-size: 1em;
    transition: background-color 0.3s ease;
    // border: 2px solid black;

    * {

        color: white;
        font-family: "Ndot";
        list-style-type: none;
        text-decoration: none;
    }

    &:hover {
        background-color: rgb(0, 0, 0);
    }

    .white-background {
        a {
            color: black;
            transition: color 1s ease;

        }
    }

    &:hover li.white-background {
        a {
            color: white;
        }
    }

    li {
        padding: 1em;
        width: 100%;
        z-index: inherit;

        #products {
            padding: 10px;

            img {
                transition: transform 0.3s ease;
            }
        }

        #hidden {
            top: -30em;
            left: 0;
            margin: 0;
            z-index: -9;
            position: absolute;
            transition: top 1s ease;
            background-color: black;
            width: inherit;
            padding: 1em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 28em;

            #preview-container {
                height: 100%;
                padding: 0;
                img {
                    height: 100%;

                }
            }

            #submenu {
                padding: 0;
                margin-right: 56%;

                li {
                    padding: 0.1em;
                }
            }
        }


    }
    #drop-down-menu:hover #hidden {
        // display: block;
        top: 3em;
        color: black;

    }

    #drop-down-menu:hover #products {
        img {

            transform: rotate(180deg);
        }
    }
}