<div class="content-container">
    <img [src]="imageLink" class="image" />
    <p class="overlay-text">{{overlayText}}</p>
    <div class="right">
        <p class="preheading">
            <span *ngFor="let word of splitPreheading(preheading)">
                {{word}}
            </span>
        </p>
        <h1 class="heading">{{heading}}</h1>
        <p class="short-text">{{shortText}}</p>
        <div class="links">
            <a [href]="link1.link" *ngIf="link1.link.length > 1" class="link-1">{{link1.linkName}}</a>
            <a [href]="learnMore" class="learn-more">( Learn More )</a>
        </div>
    </div>
</div>