.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    position: relative;

    .aside {
        position: absolute;
        width: 23%;
        bottom: 0;
        right: 0;
    }

    .image {
        height: auto;
        left: 0;
        overflow: hidden;
        width: 77%;
        display: block;
        object-fit: cover;
    }
}