<div class="content-container">
    <!-- <div class="left"> -->
        <img [src]="imageLink" class="image" />
        <p class="overlay-text">{{overlayText}}</p>
        <!-- <div class="overlay-container"> -->
            <!-- </div> -->
    <!-- </div> -->
    <div class="right">
        <div class="preheading">{{preheading}}</div>
        <h2 class="heading">{{heading}}</h2>
        <p class="short-text">{{shortText}}</p>
        <div class="links">
            <a href="" *ngIf="link1.link.length > 1" class="link-1"></a>
            <a [href]="learnMore" class="learn-more">Learn More</a>
        </div>
    </div>
</div>